# to find data types of columns:

In [1]:
import pandas as pd
import os 
os.chdir(r'C:\Users\BIMAL DAS\OneDrive\Desktop\Academics\KIM\AIBA')

C:\Users\BIMAL DAS\AppData\Local\Temp\ipykernel_2772\2643560046.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('marketing_campaign.csv', sep=";")
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [3]:
# to find data types of columns
def grab_col_types(dataframe):
  """
  Returns the type of variables in the dataset
  """
  # to find obvious categorical variables
  cat_cols = [col for col in df.columns if str(df[col].dtypes) in ["category", "object", "bool"]]

  # to find numerical but categorical variables
  num_but_cat = [col for col in df.columns if df[col].nunique() < 10 and df[col].dtypes in ["int", "float"]]
  cat_cols = cat_cols + num_but_cat

  # to find categorical but cardinal variables
  cat_but_car = [col for col in df.columns if df[col].nunique() > 20 and str(df[col].dtypes) in ["category", "object"]]
  cat_cols = [col for col in cat_cols if col not in cat_but_car]

  num_cols = [col for col in df.columns if df[col].dtypes in ["int", "float"]]
  num_cols = [col for col in num_cols if col not in cat_cols]

  print(f'Total Variables: {len(df.columns)}\n'
        f'Categorical columns: {len(cat_cols)}\n'
        f'Numerical columns: {len(num_cols)}\n'
        f'Categorical but cardinal columns: {len(cat_but_car)}\n'
        f'Numerical but categorical columns: {len(num_but_cat)}')

  return cat_cols, num_cols, cat_but_car, num_but_cat

In [4]:
cat_cols, num_cols, cat_but_car_cols, num_but_cat = grab_col_types(df)

Total Variables: 29
Categorical columns: 2
Numerical columns: 1
Categorical but cardinal columns: 1
Numerical but categorical columns: 0

In [5]:
df.describe().T.style.background_gradient(cmap='Blues')